@charset "utf-8";

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
  }
  
  .mali-regular {
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    background-color: rgb(255, 205, 234);
    color: rgb(10, 0, 39);
  }


.header{
    background-color: rgb(255, 173, 255);
    text-align: center;
}

.img-head{
    width: 95%; /* 100% */
}
/* End banner */

/* start navigator */
.navigator{
    background-color: rgb(255, 173, 255);
    width: 100%;
    margin: 0% auto;
}

.menubar{
    background-color: rgb(255, 179, 255);
    width: 100%;
    margin: 0% auto;
}

.ul-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ed68ff;
  }
  
  li {
    float: left;
    border-right:2px solid #ffffff;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #552348;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .content{
    width: 1200px;
    clear: both;
    margin: 10px 50px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);


    padding: 10px;
    border-radius: 10px;
    border: 1px solid #552348
  }

  .img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 15px;
    border: 3px solid #552348
  }
  
  .img2{
    float: right;
    display: block;
    width: 18%;
    border-radius: 15px;
    border: 3px solid #552348
  }


.active{
  background-color: #552348;

}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}



  .footer{

  }